<section class="block section8">
    <div class="container">
        <h2 class="title">
            Безопасные компоненты в&nbsp;креме <span class="product--color">Luray&nbsp;Bustier</span> — залог идеального
            бюста
        </h2>
        <ul class="comp-list">
            <li class="comp-list__item">
                <img class="comp-list__img" src="img/comp1.png" alt="Тайский черный имбирь">
                <div class="comp-list__text-wrap">
                    <h3 class="comp-list__subtitle">
                        Тайский черный имбирь
                    </h3>
                    <p class="comp-list__latin">
                        (kaempferia parviflora)
                    </p>
                    <p class="comp-list__text">
                        Содействует нормализации гормонального фона и&nbsp;улучшению циркуляции крови
                    </p>
                </div>
            </li>
            <li class="comp-list__item">
                <img class="comp-list__img" src="img/comp2.png" alt="Гамамелис">
                <div class="comp-list__text-wrap">
                    <h3 class="comp-list__subtitle">
                        Гамамелис
                    </h3>
                    <p class="comp-list__latin">
                        (hamamelis virginiana)
                    </p>
                    <p class="comp-list__text">
                        Усиливает восстанавление эластичности и&nbsp;свежести кожи
                    </p>
                </div>
            </li>
            <li class="comp-list__item">
                <img class="comp-list__img" src="img/comp3.png" alt="Женьшень">
                <div class="comp-list__text-wrap">
                    <h3 class="comp-list__subtitle">
                        Женьшень
                    </h3>
                    <p class="comp-list__latin">
                        (panax ginseng)
                    </p>
                    <p class="comp-list__text">
                        Помогает тонизировать кожу, замедлять старение и&nbsp;укреплять грудные мышцы
                    </p>
                </div>
            </li>
            <li class="comp-list__item">
                <img class="comp-list__img" src="img/comp4.png" alt="Витамин E">
                <div class="comp-list__text-wrap">
                    <h3 class="comp-list__subtitle">
                        Витамин E
                    </h3>
                    <p class="comp-list__latin">
                        (tocopheryl acetate)
                    </p>
                    <p class="comp-list__text">
                        Способствует поддержанию эластичности и&nbsp;упругости кожи, а&nbsp;так же увеличению объемов груди
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>