<section class="about block">
  <div class="container">
		<h2 class="title title-icon" id="about">Что такое куркумин?</h2>
		<div class="about__content">
			<p class="about__text">
			Куркумин — удивительный активный компонент, который содержится в корне куркумы. С давних времен он используется китайскими и индийскими народами 
в медицинских целях. </p>
			<p class="about__text">
Куркумин <b>богат антиоксидантами</b>, которые останавливают воспалительные процессы в организме. Однако, чтобы ощутить все преимущества куркумина, 
<span class="nowrap">его важно</span> употреблять с <b>правильными вспомогательными ингредиентами.</b></p>
		</p>
		<img class="about__img" src="img/about-pic.png" alt="Куркума">
	</div>
  </div>
</section>
