.section11 {
  padding: 95px 0;
  background:
    url("../img/item-bg-big.png") no-repeat 50% 0,
    url("../img/section-bg.jpg") no-repeat 50%;
  background-size: auto, cover;

  .container {
    position: relative;
  }

  .title {
    max-width: 330px;
    margin-left: 20px;
    text-align: left;

    @include r(1023) {
      max-width: none;
      margin-left: 0;
      margin-bottom: 50px;
      text-align: center;
    }

    @include r(639) {
      margin-bottom: 50px;
    }

    &::before {
      display: none;
    }
  }

  &__content {
    @include r(1023) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    @include r(639) {
      flex-direction: column;
    }
  }

  .pack {
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%);

    @include r(1023) {
      max-width: 263px;
      position: static;
      transform: translate(0);
    }
    @include r(767) {
      max-width: 253px;
    }

    @include r(639) {
      margin: 0 auto 30px;
    }

    &::before {
      bottom: -135px;
      background-size: contain;

      @include r(1239) {
        width: 90px;
        bottom: -97px;
      }

      @include r(1023) {
        bottom: 40px;
      }

      @include r(767) {
        bottom: 26px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 82px;
      height: 120px;
      top: -39px;
      right: 64px;
      background: url(../img/icon-best.png) no-repeat;

      @include r(1239) {
        right: 84px;
      }

      @include r(767) {
        top: -30px;
      }
    }
  }

  .form {
    max-width: 282px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include r(1299) {
      right: 40px;
    }

    @include r(1239) {
      right: 0;
    }

    @include r(1079) {
      right: 30px;
    }

    @include r(1023) {
      margin-left: 70px;
      padding: 25px;
      position: static;
      transform: translate(0);
    }

    @include r(767) {
      margin-left: 20px;
      padding-top: 10px;
    }

    @include r(639) {
      margin: 0 auto;
    }

    .discount {
      @include r(767) {
        top: -35px;
        right: -27px;
      }

      @include r(639) {
        right: -33px;
      }

      @include r(365) {
        right: -17px;
        top: -51px;
      }
    }
  }

  .header-form__main::after {
    height: 100%;

    @include r(1023) {
      height: 98%;
      top: auto;
      bottom: -10px;
      margin-left: -137px;
      transform: perspective(400px) rotateX(-6deg) translateY(0);
    }

    @include r(767) {
      height: 100%;
      // top: 45%;
    }

    @include r(639) {
      height: 99%;
      // top: 51%;
    }
  }
}

.section11.block {
  @include r(639) {
    // padding-bottom: 60px;
  }
}