<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <img src="img/logo.png" alt="" class="header__logo-img">
    </div>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">О препарате</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Преимущества</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Состав</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">FAQ</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header__button button">Купить сейчас</button>
  </div>
</header>