.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 29px 0 23px;
  background: white;
  box-shadow: $shadow;

  &--modal {
    position: relative;
    padding: 22px 0 18px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  flex-shrink: 0;
  max-width: 154px;
  margin-left: 1px;
  margin-right: 55px;
}

.header__button {
  position: relative;
  top: -2px;
  max-width: 224px;
}

.header__order {
  counter-reset: header-order;
  position: relative;
  top: -5px;
  right: -3px;
  display: flex;
  color: $common-gray;
  font-size: 14px;

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 50%;
    width: 80%;
    border-bottom: 1px solid #dedede;
    transform: translateX(-50%);
  }
}

.header__order-step {
  counter-increment: header-order;
  position: relative;

  &::before {
    content: counter(header-order);
    box-sizing: content-box;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    background-clip: content-box;
    background-color: $common-orange;
    border: 9px solid white;
    border-radius: 50%;
  }

  &:first-of-type {
    margin-right: 47px;
  }

  &:last-of-type {
    margin-left: 77px;
  }
}

.header__order-description {
  position: relative;
  top: -2px;
  line-height: 1;
}

@include r(1239) {
  .header {
    padding: 20px 0;
  }

  .header__logo {
    margin: 0;
  }

  .header__order {
    top: auto;
    right: auto;
    margin: 0 auto;
  }
}

@include r(1023) {
  .header {
    padding: 15px 0;
  }

  .header__logo {
    margin-top: 0;
  }

  .header__nav {
    display: none !important;
  }

  .header__button {
    line-height: 48px;
    border-radius: 25px / 50%;
  }
}

@include r(767) {
  .header__order {
    display: none;
  }

  .header--modal .header__logo {
    margin: 0 auto;
  }
}

@include r(479) {
  .header {
    padding: 10px 0;
    position: relative;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__button {
    display: none;
  }
}