.ever-popup__inner {
  padding-top: 0 !important;
}

.ever-popup__close {
  z-index: 100 !important;
  top: 10px !important;
  right: 10px !important;
  width: 35px !important;
  height: 35px !important;

  &::before,
  &::after {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    width: 35px !important;
    height: 5px !important;
    background-color: $common-orange !important;
    transform: translate(-50%, -50%) !important;
    transition: background-color $transition-duration !important;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg) !important;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg) !important;
  }

  &:hover::before,
  &:hover::after {
    background-color: $common-gray !important;
  }
}

.modal {
  padding: 20px;
  background-color: #f7f8fa;
  border-radius: 10px;
  .order__title {
    margin-bottom: 0;
  }
  .order__price {
    margin-bottom: 20px;
  }
  .order__timer {
    margin-bottom: 20px;
  }
  .order__row:last-of-type {
    margin-bottom: 25px;
  }
  .order__button {
    margin: 0;
  }
  .order__note {
    max-width: 305px;
    padding-bottom: 0;
  }
  .timer {
    margin-right: 6px;
  }
}

.modal__container {
  padding: 0 !important;
}

.modal__content {
  display: flex;
}

.modal__picture {
  flex-shrink: 0;
  width: 310px;
  margin-right: 18px;
  align-self: center;
}

.modal__order {
  margin-left: auto;
  padding-top: 0;
}

@include r(1239) {
  .modal__order {
    margin-left: 25px;
  }
}

@include r(1023) {
  .modal__content {
    align-items: center;
  }
}

@include r(767) {
  .modal__picture {
    display: none;
  }

  .modal__order {
    max-width: 300px;
    margin: 0 auto;
  }
}
