.ever-popup {
  display: block !important;
  z-index: -1 !important;
  background: #f7f8fa !important;
}

.ever-popup.show {
  z-index: 1000 !important;
}

.ever-popup__inner {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

.ever-popup__close {
  z-index: 100 !important;
  top: 20 !important;
  right: 20 !important;
  width: 35px !important;
  height: 35px !important;

  &::before,
  &::after {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    width: 35px !important;
    height: 5px !important;
    background-color: $common-gray !important;
    transform: translate(-50%, -50%) !important;
    transition: background-color $transition-duration !important;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg) !important;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg) !important;
  }

  &:hover::before,
  &:hover::after {
    background-color: $common-orange !important;
  }
}

.modal__content {
  display: flex;
  padding: 104px 0;
}

.modal__slider {
  margin-left: -4px;
  padding-left: 149px;
}

.modal__slider-item {
  display: flex !important;
  align-items: center;
  min-height: 577px;

  & img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.modal__order {
  margin-left: 43px;
}