<div class="ever-popup-build">
  <section class="modal" id="cloneThis">
    <div class="modal__body">
      <div class="modal__container container">
        <div class="modal__content">
          <div class="modal__picture">
            <img src="img/modal-picture.png" alt="" class="modal__picture-img">
          </div>
          <form action="/submit" method="POST" class="x_order_form modal__order order">
            <!--=include ../order/order.html -->
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
