<div class="ever-popup-build">
  <section class="modal" id="cloneThis">
    <div class="modal__body">
      <header class="modal__header header header--modal">
        <div class="header__container container">
          <div class="header__logo">
            <img src="img/logo.png" alt="" class="header__logo-img">
          </div>
          <ul class="header__order">
            <li class="header__order-step">
              <span class="header__order-description">Введите ваше имя</span>
            </li>
            <li class="header__order-step">
              <span class="header__order-description">Введите ваш телефон</span>
            </li>
            <li class="header__order-step">
              <span class="header__order-description">Закажите</span>
            </li>
          </ul>
        </div>
      </header>
      <div class="modal__container container">
        <div class="modal__content">
          <div class="modal__slider">
            <div class="modal__slider-item">
              <img src="img/modal-slider-01.png" alt="">
            </div>
            <div class="modal__slider-item">
              <img src="img/modal-slider-02.png" alt="">
            </div>
            <div class="modal__slider-item">
              <img src="img/modal-slider-03.png" alt="">
            </div>
            <div class="modal__slider-item">
              <img src="img/modal-slider-04.png" alt="">
            </div>
          </div>
          <form action="/submit" method="POST" class="x_order_form modal__order order">
            <!--=include ../order/order.html -->
          </form>
        </div>
      </div>
    </div>
  </section>
</div>