<section class="formula block">
  <div class="container">
    <div class="formula__content">
      <div class="formula__tooltip">
        <div class="formula-tooltip__title">Выбор №1 в СНГ</div>
        <div class="formula-tooltip__subtitle">
          Чем совершеннее<br />
          куркумин, тем лучше<br />
          для организма!
        </div>
      </div>
      <div class="formula__box">
        <h2 class="formula__title" id="formula">
          Проблема большинства производителей добавок
          <span class="nowrap">с куркумином</span> в том, что они не знают, как
          сделать куркумин полностью биодоступным.
        </h2>
        <p class="formula__subtitle">
          Мы изобрели формулу, которая способствует 100%<br />
          биодоступности куркумина:
        </p>
      </div>
    </div>
    <div class="formula__content">
      <div class="formula__ingridient">
        <img src="img/formula-img1.png" alt="Куркумин" />
      </div>
      <div class="formula__box">
        <h3 class="formula-box__title">Максимально активная форма куркумина</h3>
        <p class="formula-box__text">
          Мы используем наиболее активную форму куркумина — стандартизованный
          <span class="nowrap">95% экстракт</span> с повышенным уровнем
          биодоступности и возможности действовать на организм. Другим формам
          куркумина требуется несколько часов, чтобы начать работать.
        </p>
      </div>
    </div>
    <div class="formula__content">
      <div class="formula__ingridient">
        <img src="img/formula-img2.png" alt="Пиперин" />
      </div>
      <div class="formula__box">
        <h3 class="formula-box__title">Максимально активная форма пиперина</h3>
        <p class="formula-box__text formula-box__text--last">
          Чтобы усилить биодоступность куркумина, производителю необходимо
          выполнить одно из действий:
        </p>
        <ul class="formula-box__list">
          <li class="formula-box__item">
            <span class="formula-box__item--color">A.</span> нагреть куркумин,
          </li>
          <li class="formula-box__item">
            <span class="formula-box__item--color">B.</span> изменить его
            уровень pH
          </li>
          <li class="formula-box__item">
            <span class="formula-box__item--color">C.</span> вводить в состав
            дополнительный компонент
          </li>
        </ul>
        <p class="formula-box__text formula-box__text--last">
          Варианты нагревания и смены уровня pH приводят к уничтожению полезных
          веществ, которыми славится куркумин. Третий вариант повышения
          биодоступности многие производители игнорируют ввиду задействования
          больших ресурсов. Для создания DUO C&P мы использовали вариант
          введения в состав дополнительного компонента пиперина — он увеличивает
          биодоступность куркумина на 2000%, чтобы он впитывался в вашу кровь
          лучше и вы получили максимальную пользу для вашего здоровья.
        </p>
        <div class="formula-box__text formula-box__text--last">
          Кроме содействия куркумину, пиперин обладает собственными полезными
          свойствами, включая антиоксидантные и антимикробные. Особенно он
          полезен при воспалительных заболеваниях ЖКТ и суставов.
        </div>
      </div>
    </div>
  </div>
</section>
