<section class="intro block">
  <div class="intro__top">
    <div class="intro__container container">
      <div class="intro__content intro__content--main">
        <div class="intro__text">
          <h2 class="intro__title">Используй силу природы <span class="intro__title-small">и укрепи иммунитет и организм</span></h2>
          <p class="intro__subtitle">В 20 раз эффективнее помогает бороться с&nbsp;воспалительными процессами и оксидативным</p>
          <div class="intro__product intro__product--adaptive">
            <img src="img/product.png" alt="" class="intro__product-img">
          </div>
          <div class="intro__timer timer">
            <!--=include ../timer/timer.html -->
          </div>
          <div class="intro__price price">
            <!--=include ../price/price.html -->
          </div>
          <button type="button" class="intro__button button">Купить сейчас</button>
        </div>
        <div class="intro__product">
          <img src="img/product.png" alt="" class="intro__product-img">
        </div>
      </div>
    </div>
  </div>
  <div class="intro__bottom">
    <div class="intro__container container">
      <div class="intro__content intro__content--bottom">
        <ul class="intro__features">
          <li class="intro__feature intro__feature--light">
            <span class="intro__feature-icon">
              <img src="img/icon-light.png" alt="">
            </span>
            <span><b>Поддерживает</b> здоровье организма</span>
          </li>
          <li class="intro__feature intro__feature--human">
            <span class="intro__feature-icon">
              <img src="img/icon-human.png" alt="">
            </span>
            <span><b>Улучшает</b> пищеварение</span>
          </li>
          <li class="intro__feature">
            <span class="intro__feature-icon">
              <img src="img/icon-shield.png" alt="">
            </span>
            <span><b>Восстанавливает</b> иммунитет</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>