.intro {
  background-color: #f7f8fa;
  border-bottom: 1px solid #ebebeb;
}

.intro__top {
  padding: 60px 0;
  overflow: hidden;
}

.intro__content {
  position: relative;
}

.intro__text {
  flex-shrink: 0;
  max-width: 600px;
}

.intro__title {
  margin-bottom: 28px;
  color: $common-black;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

.intro__title-small {
  display: block;
  margin-top: 10px;
  font-size: 39px;
}

.intro__subtitle {
  margin-bottom: 42px;
  color: $common-gray;
  font-size: 22px;
  line-height: (28 / 22);
}

.intro__product {
  position: absolute;
  top: 8px;
  right: -42px;

  &--adaptive {
    display: none;
  }
}

.intro__timer {
  max-width: 412px;
  margin-bottom: 28px;
}

.intro__price {
  margin-bottom: 37px;
  max-width: 409px;
}

.intro__button-container {
  max-width: 251px;
}

.intro__bottom {
  padding: 45px 0 37px;
  background: white;
}

.intro__features {
  display: flex;
}

.intro__feature {
  display: flex;
  align-items: center;
  color: $common-gray;
  font-size: 17px;
  line-height: 1;

  & b {
    color: black;
    font-weight: 700;
  }

  &--light {
    margin-right: 97px;
  }

  &--human {
    margin-right: 104px;
  }
}

.intro__feature-icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  margin-right: 22px;
  background-color: #f7f8fa;
  border-radius: 50%;
}

.intro__note {
  padding: 10px 0;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

@include r(1239) {
  .intro__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .intro__top {
    padding: 50px 0;
  }

  .intro__text {
    max-width: 480px;
  }

  .intro__title {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .intro__title-small {
    margin-top: 5px;
    font-size: 30px;
  }

  .intro__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .intro__timer {
    max-width: 405px;
    margin-bottom: 30px;
  }

  .intro__price {
    margin-bottom: 30px;
  }

  .intro__product {
    position: relative;
    top: auto;
    right: auto;
    margin-left: 20px;
  }

  .intro__features {
    justify-content: space-between;
    width: 100%;
  }

  .intro__feature {
    line-height: (20 / 17);

    &--light {
      margin-right: 0;
    }

    &--human {
      margin-right: 0;
    }

    & b {
      display: block;
    }
  }

  .intro__bottom {
    padding: 40px 0;
  }
}

@include r(1023) {
  .intro {
    padding-bottom: 0 !important;
  }
  
  .intro__top {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .intro__text {
    max-width: 400px;
  }

  .intro__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .intro__title-small {
    font-size: 24px;
  }

  .intro__subtitle {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: (22 / 16);
  }

  .intro__timer {
    max-width: 390px;
    margin-bottom: 20px;
  }

  .intro__price {
    max-width: 390px;
    margin-bottom: 20px;
  }
}

@include r(767) {
  .intro__top {
    padding-bottom: 30px;
  }

  .intro__text {
    margin: 0 auto;
  }

  .intro__title,
  .intro__subtitle {
    text-align: center;
  }

  .intro__timer {
    margin: 0 auto 20px;
  }

  .intro__price {
    margin: 0 auto 20px;
  }

  .intro__product {
    display: none;

    &--adaptive {
      display: block;
      margin: 0 auto 20px;
    }
  }

  .intro__button {
    margin: 0 auto;
  }

  .intro__bottom {
    padding: 30px 0;
  }

  .intro__feature {
    font-size: 16px;
  }

  .intro__feature-icon {
    width: 45px;
    height: 45px;
    margin-right: 15px;
  }
}

@include r(639) {
  .intro__content--bottom {
    display: block;
  }

  .intro__product {
    max-width: 400px;
  }

  .intro__features {
    display: block;
    max-width: 340px;
    margin: 0 auto;
  }

  .intro__feature {
    margin-bottom: 10px;

    & b {
      display: inline;
    }
  }

  .intro__feature:last-of-type {
    margin-bottom: 0;
  }
}

@include r(479) {
  .intro__top {
    padding-bottom: 25px;
  }

  .intro__text {
    max-width: 100%;
  }

  .intro__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .intro__title-small {
    font-size: 18px;
  }

  .intro__subtitle {
    margin-bottom: 20px;
  }

  .intro__timer {
    max-width: 300px;
    margin: 0 auto 20px !important;
  }

  .intro__price {
    max-width: 180px;
    margin-bottom: 20px;
  }

  .intro__product {
    margin-bottom: 20px;
  }

  .intro__product-img {
    display: block;
    width: 100%;
  }

  .intro__bottom {
    padding: 25px 0;
  }

  .intro__feature {
    &--light {
      max-width: 230px;
    }
  }
}