<section class="diagrams block">
  <div class="container">
    <h2 class="title">Что говорят мужчины о грудастых женщинах</h2>
    <div class="diagrams-content">
      <div class="diagrams-box diagrams-box-reviews">
        <div class="diagrams-review">
          <div class="diagrams-review__img">
            <img src="img/diagrams-avatar-1.png" alt="avatar" />
          </div>
          <div class="diagrams-review-info">
            <h4 class="diagrams-review__name">Хенг Чит</h4>
            <p class="diagrams-review__age">29 лет</p>
            <p class="diagrams-review__text">
              По-моему, большая грудь — это очень<br />
              сексуально, если конечно она не висит<br />
              до пупка. Я считаю, что женщина должна<br />
              быть похожа на женщину.
            </p>
          </div>
        </div>
        <div class="diagrams-review diagrams-review--ml1">
          <div class="diagrams-review__img">
            <img src="img/diagrams-avatar-2.png" alt="avatar" />
          </div>
          <div class="diagrams-review-info">
            <h4 class="diagrams-review__name">Нампан Ек</h4>
            <p class="diagrams-review__age">30 лет</p>
            <p class="diagrams-review__text">
              Меня всегда волновали женские груди. И чем они больше, тем лучше.
              Ради пышного бюста я готов мириться
              <span class="nowrap">со многими</span> женскими недостатками.
            </p>
          </div>
        </div>
        <div class="diagrams-review diagrams-review--ml2">
          <div class="diagrams-review__img">
            <img src="img/diagrams-avatar-3.png" alt="avatar" />
          </div>
          <div class="diagrams-review-info">
            <h4 class="diagrams-review__name">Нават Янмар</h4>
            <p class="diagrams-review__age">25 лет</p>
            <p class="diagrams-review__text">
              Когда встречаю девушку с “вкусным” бюстом, который смотрит на меня
              <span class="nowrap">из декольте</span>, с трудом себя
              контролирую. Всегда возбуждаюсь.
            </p>
          </div>
        </div>
      </div>
      <div class="diagrams-box diagrams-box-item">
        <p class="diagrams__head">На что обращают внимание мужчины</p>
        <ul class="diagrams-list">
          <li class="diagrams-list__item diagram1">
            <div id="readout2">
              <svg id="diagram1" viewBox="0 0 100 100">
                <circle class="diagram1-pie" r="25" cx="50" cy="50" id="pie2" />
              </svg>
              <output class="diagram1-percent" for="utilslider2">20%</output>
            </div>
            <input type="range" min="0" max="100" value="20" id="utilslider2" />
          </li>
          <li class="diagrams-list__item diagram2">
						<div id="readout3">
              <svg id="diagram2" viewBox="0 0 100 100">
                <circle class="diagram2-pie" r="25" cx="50" cy="50" id="pie3" />
              </svg>
              <output class="diagram2-percent" for="utilslider3">45%</output>
            </div>
            <input type="range" min="0" max="100" value="45" id="utilslider3" />
					</li>
          <li class="diagrams-list__item diagram3">
						<div id="readout4">
              <svg id="diagram3" viewBox="0 0 100 100">
                <circle class="diagram3-pie" r="25" cx="50" cy="50" id="pie4" />
              </svg>
              <output class="diagram3-percent" for="utilslider4">15%</output>
            </div>
            <input type="range" min="0" max="100" value="15" id="utilslider4" />
					</li>
          <li class="diagrams-list__item diagram4">
            <div id="readout">
              <svg id="diagram4" viewBox="0 0 100 100">
                <circle class="diagram4-pie" r="25" cx="50" cy="50" id="pie" />
              </svg>
              <output class="diagram4-percent" for="utilslider">70%</output>
            </div>
            <input type="range" min="0" max="100" value="70" id="utilslider" />
          </li>
        </ul>
        <ul class="diagrams-for">
          <li class="diagrams-for__item"><span class="diagrams-for__item--diagram4"></span>Грудь</li>
          <li class="diagrams-for__item"><span class="diagrams-for__item--diagram1"></span>Лицо</li>
          <li class="diagrams-for__item"><span class="diagrams-for__item--diagram2"></span>Талия</li>
          <li class="diagrams-for__item"><span class="diagrams-for__item--diagram3"></span>Бедра</li>
        </ul>
      </div>
    </div>
  </div>
</section>
