.discount {
  position: relative;
}

.discount__percent,
.discount__value {
  position: absolute;
  display: flex;
  align-items: center;
  width: 77px;
  height: 38px;
  color: white;
  font-size: 30px;
  font-weight: 900;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.discount__percent {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 45px;
  background-image: url("../img/discount-02.png");
}

.discount__value {
  top: -7px;
  left: 2px;
  padding-left: 21px;
  background-image: url("../img/discount-01.png");
  transform-origin: left center;
  transform: rotate(45deg)
}

.discount__flip {
  transform: scaleX(-1);
}
