<div class="timer">
  <div class="timer__description">До конца акции:</div>
  <div class="timer__counter">
    <div class="timer__cell">
      <div class="timer__value hours">00</div>
      <div class="timer__label">часы</div>
    </div>
    <span class="timer__divider">:</span>
    <div class="timer__cell">
      <div class="timer__value minutes">00</div>
      <div class="timer__label">мин.</div>
    </div>
    <span class="timer__divider">:</span>
    <div class="timer__cell">
      <div class="timer__value seconds">00</div>
      <div class="timer__label">сек.</div>
    </div>
  </div>
  <div class="timer__labels">
  </div>
  <div class="timer__discount discount">
    <span class="discount__percent">
      <span class="discount__flip">%</span>
    </span>
    <span class="discount__value">-50</span>
  </div>
</div>