.timer {
  position: relative;
  display: flex;
  margin-right: 34px;
  padding: 24px 65px 25px 27px;
  color: $common-gray;
  background: white;
  border: 3px solid #fb9925;
  border-radius: 4px;
  box-shadow: $shadow;

  &--modal {
    position: relative;
    padding: 11px 4px 20px;
    padding-left: 0;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e2e2e2;
  }
}

.timer__description {
  max-width: 90px;
  margin-top: 2px;
  margin-right: 21px;
  font-size: 20px;
  line-height: (25 / 20);
}

.timer__counter {
  display: flex;
  align-items: center;
}

.timer__cell {
  text-align: center;
}

.timer__cell + * {
  margin-left: 10px;
}

$color: #f86820;
$fz: 39px;

.timer__divider {
  position: relative;
  top: 0;
  align-self: flex-start;
  margin-right: 1px;
  color: $color;
  font-size: $fz;
  font-weight: 300;
  line-height: 1;
}

.timer__divider + * {
  margin-left: 10px;
}

.timer__value {
  color: $color;
  font-size: $fz;
  font-weight: 900;
  line-height: 1;
}

.timer__discount {
  position: absolute !important;
  top: 14px;
  right: 40px;
}

.timer--modal .timer__discount {
  right: -10px;
}

@include r(1239) {
  .timer {
    align-items: center;
  }

  .timer__description {
    max-width: 83px;
    margin-top: 0;
    margin-right: 10px;
    font-size: 16px;
    line-height: (20 / 18);
  }

  .timer__value {
    font-size: 32px;
  }
}

@include r(1023) {
  .timer {
    padding: 15px 55px 15px 15px;

    &--modal {
      padding: 16px 0 15px;
    }
  }

  .timer__discount {
    top: 10px;
  }

  .timer--modal .timer__discount {
    right: -5px;
  }
}

@include r(479) {
  .timer {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    padding: 15px;
    padding-right: 95px;

    &--modal {
      padding: 15px;
      padding-right: 90px;
      border: none;
    }
  }

  .timer__description {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
    text-align: center;
  }

  .timer__discount {
    right: 82px;
  }

  .timer--modal .timer__discount {
    right: 75px;
  }
}