<section class="problem block">
  <div class="container">
    <h2 class="title title-icon">
      Основная проблема<br />
      куркумина — биодоступность
    </h2>
    <p class="problem__subtitle">DUO C&P под силу решить эту проблему!</p>
    <p class="problem__text">
      Теперь вы знаете, что куркумин обладает впечатляющими свойствами для
      вашего здоровья! Но и у него есть слабое место — самостоятельно он плохо
      усваивается организмом. Только порядка 3% куркумина проникает в кровь при
      употреблении чистого куркумина. Количество вещества, которое попадает
      непосредственно <span class="nowrap">в вашу</span> кровь после
      употребления — и называется биодоступностью. Без усиления этого показателя
      вы попросту теряете деньги и время.
    </p>
    <div class="problem__help">Но есть решение</div>
  </div>
</section>
