<div class="review__item">
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Петр В.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Спасибо DUO&nbsp;C&P!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Мне 69 лет и далеко не все физические нагрузки мне под силу. Трудно подняться наверх, тяжело согнуть колено, да и на любимом пианино нет сил играть, как раньше. Доктор советовал не принимать НПВП и я искал замену достаточно долго. А после всего 1 месяца применения уже увидел изменения и как будто зажил новой жизнью. Благодаря DUO&nbsp;C&P! Вы подарили мне новую жизнь.</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">89</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Андрей К.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Возьмите себе это средство на вооружение!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">С тех пор, как я начал принимать этот продукт, у меня исчезла потребность принимать назначенные мне противовоспалительные препараты. Мой организм — доказательство тому, что средство работает! Не полагайтесь только на лекарства от врачей, так как они почти всегда имеют какие-либо побочные эффекты. Тогда как у DUO&nbsp;C&P их попросту нет!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">102</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Влад Л.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Отличное средство. Очень доволен!!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">23</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Сюзанна П.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Я перепробовала уже много противовоспалительных средств. Наверно больше 4 производителей за последние 4 года. Сейчас пью DUO&nbsp;C&P и оно лучшее! Я в восторге от действия этого препарата!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">76</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Павел Л.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Это отличный продукт.</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Отличное средство. Очень доволен!!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">15</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
</div>

<div class="review__item">
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Анна Ж.</span>
      <span class="review__stars stars-counter stars-counter--fourth"></span>
      <h3 class="review__title">DUO&nbsp;C&P помог мне от боли в лодыжке!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Пропила DUO&nbsp;C&P около 3 недель и мне действительно стало легче, эффект не молниеносный, но боль больше не возвращается</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">55</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Кристина Ф.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">DUO&nbsp;C&P мне очень помогает</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Гораздо меньше боли в спине и колене, прошла как начала принимать DUO&nbsp;C&P. Я всем его рекомендую.</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">23</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Дмитрий В.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Я 37 лет занимаюсь рыбалкой. Естественно я повредил колено, запястья и спину. Но DUO&nbsp;C&P помогает бороться с болью, собираюсь заказать на 3 месяца вперед.</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">74</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Светлана С.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Кожа красивая и сияющая, пищеварение улучшилось! Магия :)</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">49</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Галина Д.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Учусь жить без боли</h3>
    </div>
    <div class="review__body">
      <p class="review__description">У меня давно болела поясница, иногда и колени. Друзья посоветовали попробовать DUO&nbsp;C&P, вот уже 3 недели пью. Поясница перестала давать о себе знать, колени тоже пока не болят. Похоже это действительно работает!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">65</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
</div>

<div class="review__item">
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Дарья С.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Мне нравится, как работает средство! Оно значительно улучшило мое здоровье! Я бы порекомендовала его всем, кто хочет лучшей и более здоровой жизни!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">33</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Екатерина М.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Прекрасный продукт</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Прекрасный продукт с содержанием куркумина, давно его пью и здоровье в порядке</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">19</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Федор К.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Моя боль постепенно уходит</h3>
    </div>
    <div class="review__body">
      <p class="review__description">За последние 15 лет я отвык жить без боли. У меня чувствительны ноги, кисти руки, постоянно то немеют пальцы, то ноющая боль. Благодаря DUO&nbsp;C&P ситуация изменилась. У моего мужа тоже постоянные боли в ногах, только что заказала курс и для него. Я принимаю уже 3 неделю и, не поверите, у меня больше не болят ноги! Я могу после работы выйти в магазин и вернуться домой, и после этого ничего не болит! Надеюсь и мужу поможет, сможем больше гулять с внуками!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">109</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Кира Ф.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Мне понравился этот продукт</h3>
    </div>
    <div class="review__body">
      <p class="review__description">У меня опухла лодыжка, выглядела ужасно! Доктор перепробовал всё, я даже изменила питание - легче не стало. Попробовала DUO&nbsp;C&P и моя лодыжка снова влазит в любимые туфли! Закажу еще курс для профилактики!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">46</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Татьяна П.</span>
      <span class="review__stars stars-counter stars-counter--fourth"></span>
      <h3 class="review__title">Меньше боли</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Воспаление в колене проходит. Болит меньше</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">52</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
</div>

<div class="review__item">
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Ольга Д.</span>
      <span class="review__stars stars-counter stars-counter--fourth"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Я еще не закончила первую баночку, так что пока рано говорить.</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">4</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Жанна С.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Моя кожа красивая и сияющая, у меня улучшилось пищеварение</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">63</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Денис С.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Мне нравится что он борется с свободными радикалами! Оно значительно улучшило мое здоровья! Я бы порекомендовал это всем, кто хочет лучшей и более здоровой жизни!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">55</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Лилия У.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Нога больше не опухшая!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Уже 4 года живу с болью! Купила DUO&nbsp;C&P и боль в ноге ушла буквально через пару недель после начала приёма! Я удвоила дозу, прекратила приём стероидов, и наслаждаюсь жизнью без боли! Собираюсь даже в отпуске поехать в горы, гулять пешком! Это будет первый за последние годы отпуск без боли! Я ваш клиент навсегда! Спасибо!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">45</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Виктор Л.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Прекрасный продукт!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Я доволен на все 100%</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">36</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
</div>

<div class="review__item">
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Егор Х.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Такой препарат обязательно должен быть у каждого!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Прекрасное соединение ингредиентов, я в восторге от этого состава! Прекрасно борется со свободными радикалами, надеюсь прожить долго и выглядеть молодо!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">54</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Маргарита Ч.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Очень довольна результатом!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Использую DUO&nbsp;C&P для здоровья костей, а мой муж - от боли в кисти. Мы довольны продуктом.</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">18</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Борис Б.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Движение без боли!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Была сильная боль в коленях, я пробовал разные лекарства, например уколы кортизона, ортопедические препараты и ничего не помогло. Попробовал это средство и в течение недели заметил, что я уже могу двигаться без боли! Будет продолжать использовать это средство.</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">40</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Давид И.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Помогает от боли в спине</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Уже много чего перепробовал, но это средство действительно помогло от болей в спине</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">56</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Руслан С.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">DUO&nbsp;C&P работает!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">У моей жены прошли боли в колене, а я заметил, что головные боли беспокоят реже! Похоже работает</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">45</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
</div>

<div class="review__item">
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Тарас М.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Я начал больше двигаться!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Прогулки пешком для меня последние годы были непозволительной роскошью. Мне 59 и у меня боли в лодыжках, коленях, я почти забыл когда последний раз гулял с собакой! Купил DUO&nbsp;C&P, но на многое не надеялся. Но принимал по указаниям в рецепте. Первую неделю не замечал никаких изменений, но после 1.5 месяцев приёма с уверенностью заявляю - средство работает! Вечером хожу гулять с собакой уже каждый день, могу пройти несколько киломентров! Может смогу скоро сесть на велосипед!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">28</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Валентина Т.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Сильно помогло!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Мне сильно помогло с суставами, превзошел все мои ожидания! Я была приятно удивлена, буду продолжать использовать</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">177</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Юлия Б.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Лучшее средство!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Мы попробовали с мужем уже много добавок с куркумином, но эти капсулы показали наилучший результат! Проблемы с ногой у мужа исчезли быстро! Мы посоветовали друзьям, и некоторые впервые за многие годы избавились от боли! А у меня пропали мигрени и кажется я стала больше спать!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">37</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Аркадий Т.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Хватит страдать, попробуйте DUO&nbsp;C&P</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Этот продукт сильно изменил мою жизнь! Я едва мог ходить из-за болей в коленях, правом бедре, нижней части спины. Постоянно гуглил, как избавиться от боли, но ничего не помогало. Однажды увидел рекламу DUO&nbsp;C&P в FaceBook, решил рискнуть. А вдруг DUO&nbsp;C&P поможет? неординарный состав, тем более о куркуме давно наслышан как о средстве от многих болезней.<br>
        Через несколько дней получил свою посылку, пью уже не первую неделю, и ОНО РАБОТАЕТ! Я снова могу выйти на улицу, стал лучше спать, чувствую, что во мне больше энергии!<br>
        Я рекомендую всем своим знакомым теперь! это супер!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">22</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Марина Б.</span>
      <span class="review__stars stars-counter stars-counter--fourth"></span>
      <h3 class="review__title">Вижу разницу!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Принимаю DUO&nbsp;C&P уже месяц, голова болит меньше, сплю лучше</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">21</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
</div>

<div class="review__item">
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Арина Ш.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Мне порекомендовали DUO&nbsp;C&P, как супер средство от акне. И моя кожа действительно стала гладкой как шелк! А до этого я чего только не пробовала, чтобы избавиться от этих ужасных угрей. А еще я похудела на 4&nbsp;кг!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">65</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Марк Р.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">я снова начал играть в теннис</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Из-за боли в спине закинул любимую игру. Жена купила DUO&nbsp;C&P, пропил и через 4&nbsp;недели уже снова играл в теннис</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">44</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Надежда В.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
      <h3 class="review__title">Берегите имунитет!</h3>
    </div>
    <div class="review__body">
      <p class="review__description">Я много читала о куркуме и куркумине, еще моя бабушка добавляла куркуму во все блюда, для крепкого иммунитета. Вот попалась на глаза реклама DUO&nbsp;C&P, принимаю уже долго, забыла о простудах в холодную погоду!</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">78</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
  <blockquote class="review">
    <div class="review__top">
      <span class="review__name">Елизавета Ф.</span>
      <span class="review__stars stars-counter stars-counter--fives"></span>
    </div>
    <div class="review__body">
      <p class="review__description">Чувствую прилив сил от DUO&nbsp;C&P, пью вторую неделю</p>
    </div>
    <div class="review__bottom">
      <p class="review__like-description">
        <!--=include ../review-button/review-button-like.html -->
        <span><span class="like-counter">11</span> людям это было полезно</span>
      </p>
    </div>
  </blockquote>
</div>