<section class="block section6">
    <div class="container">
        <h2 class="title">
            Как работает <span class="product--color">Luray Bustier</span>
        </h2>
        <h3 class="subtitle">
            Крем стимулирует прилив крови к&nbsp;молочным железам и&nbsp;грудным мышцам, способствуя достижению
            результата уже <span class="product--color text-bold">через 30&nbsp;дней</span>
        </h3>
        <div class="content">
            <div class="left">
                <ul class="list">
                    <li class="list__item">
                        <h4 class="list__subtitle">
                            Увеличивает грудь
                        </h4>
                        <p class="list__text">
                            Благодаря формуле Luray&nbsp;Bustier, основанной на специальных компонентах
                        </p>
                    </li>
                    <li class="list__item">
                        <h4 class="list__subtitle">
                            Придает упругость
                        </h4>
                        <p class="list__text">
                            Способствуя улучшению эластичности кожи
                        </p>
                    </li>
                </ul>
            </div>
            <div class="center">
                <figure class="header-box__pack pack">
                    <img src="img/pack.png" alt="Luray Bustier">
                </figure>
            </div>
            <div class="right">
                <ul class="list">
                    <li class="list__item">
                        <h4 class="list__subtitle">
                            Замедляет <br> старение кожи
                        </h4>
                        <p class="list__text">
                            Благодаря улучшению кровообращения и&nbsp;натуральному составу
                        </p>
                    </li>
                    <li class="list__item">
                        <h4 class="list__subtitle">
                            Быстро впитывается и&nbsp;увлажняет
                        </h4>
                        <p class="list__text">
                            Легкая текстура не&nbsp;оставляет липких следов и&nbsp;приятно пахнет
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <p class="section-footer">
            Почувствуйте себя женственнее и&nbsp;увереннее вместе с&nbsp;<span class="text-black product--color">Luray
                Bustier</span>. И&nbsp;готовьтесь ловить
            на&nbsp;себе восхищенные мужские взгляды
        </p>
        <button class="btn ever-popup-btn">
            Заказать <span class="btn__text">по акции</span>
        </button>
    </div>
</section>