.section14.section3 {
  background: none;
}

.section14 {
  .section3-list {
    margin-bottom: 0;
  }

  .section3-list__title {
    font-size: 22px;
    border-bottom: none;

    @include r(1023) {
      margin-bottom: 10px;
      display: block;
      line-height: 1;
    }
  }

  .section3-list__item {
    position: relative;
  }

  .section3-list__item::before {
    position: absolute;
    content: "";
    width: 390px;
    height: 390px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/item-bg.png") no-repeat;
    z-index: -1;

    @include r(1023) {
      width: 270px;
      background-size: contain;
    }

    @include r(767) {
      width: 290px;
    }
  }

  .section3-list__img {
    margin-bottom: 25px;

    @include r(1023) {
      max-height: none;
    }

    @include r(639) {
      margin-bottom: 15px;
    }
  }

  .section3-list__item:nth-child(2) .section3-list__img {
    margin-bottom: 25px;
  }

  .section3-list__text {
    margin-top: 0;
  }

  .section3-list::before {
    z-index: 0;
  }

  .section3-list__item:nth-child(3) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 120px;
      height: 180px;
      top: 190px;
      left: 7px;
      background: url("../img/pack.png") no-repeat;
      background-size: contain;
      z-index: 0;

      @include r(1023) {
        width: 90px;
        top: 129px;
        left: 14px;
      }

      @include r(639) {
        top: 119px;
      }
    }
  }
}