<section class="block section14 section3">
    <div class="container">
        <h2 class="title title-crown">
            Как заказать анонимную доставку <br> <span class="product--color">Luray Bustier</span>
        </h2>
        <ul class="section3-list">
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/order1.png" alt="Операция">
                <h3 class="section3-list__title">
                    Заполните форму заказа
                </h3>
                <p class="section3-list__text">
                    Укажите имя и&nbsp;номер телефона
                </p>
            </li>
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/order2.png" alt="Имплант">
                <h3 class="section3-list__title">
                    Примите звонок оператора
                </h3>
                <p class="section3-list__text">
                    Специалист проконсультирует и&nbsp;уточнит ваши данные
                </p>
            </li>
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/order3.png" alt="Гормоны">
                <h3 class="section3-list__title">
                    Оплатите после получения
                </h3>
                <p class="section3-list__text">
                    Предоплата не&nbsp;требуется
                </p>
            </li>
        </ul>
    </div>
</section>