<section class="edge block">
  <div class="container">
    <div class="edge__pack"><img src="img/pack1.png" alt="" /></div>
    <div class="edge__content">
      <h2 class="edge__title">
        Проверенные ингредиенты<br />
        для потрясающих результатов!
      </h2>
      <p class="edge__subtitle">
        <span class="edge__subtitle--bg">DUO C&P</span> — здоровье изнутри и
        молодость снаружи:
      </p>
      <ul class="edge__list">
        <li class="edge-list__item">
          Улучшает работу<br />
          и энергию мозга
        </li>
        <li class="edge-list__item">
          Облегчает боль<br />
          и восстанавливает<br />
          суставы
        </li>
        <li class="edge-list__item">
          Укрепляет иммунитет<br />
          и защитные функции<br />
          организма
        </li>
      </ul>
      <button class="edge__btn button button--silver ever-popup-btn">
        Купить сейчас
      </button>
    </div>
    <button class="edge__btn2 button button--silver ever-popup-btn">
      Купить сейчас
    </button>
  </div>
</section>
