<section class="block section9 section6">
    <div class="container">
        <h2 class="title">
            Курс <span class="product--color">Luray Bustier</span> — начало новой жизни
        </h2>
        <div class="section9__content">
            <div class="left">
                <ul class="section9-list">
                    <li class="section9-list__item">
                        <h4 class="list__subtitle">
                            Вы можете стать уверенее в&nbsp;себе
                        </h4>
                        <p class="list__text">
                            Поверить в&nbsp;свою красоту будет проще простого
                        </p>
                    </li>
                    <li class="section9-list__item">
                        <h4 class="list__subtitle">
                            Вы обретете эффектность
                        </h4>
                        <p class="list__text">
                            Выглядеть женнственее в&nbsp;любой одежде и&nbsp;белье теперь под силу
                        </p>
                    </li>
                    <li class="section9-list__item">
                        <h4 class="list__subtitle">
                            Вы можете стать уверенее в&nbsp;себе
                        </h4>
                        <p class="list__text">
                            Соблазнительное декольте - теперь не миф, а&nbsp;реальность
                        </p>
                    </li>
                </ul>
            </div>
            <div class="right">
                <ul class="section9-list">
                    <li class="section9-list__item">
                        <h4 class="list__subtitle">
                            Вы будете ловить на&nbsp;себе взгляды
                        </h4>
                        <p class="list__text">
                            Стать обьектом восторга для мужчин - теперь не&nbsp;цель, а&nbsp;норма
                        </p>
                    </li>
                    <li class="section9-list__item">
                        <h4 class="list__subtitle">
                            Вы обретете успех
                        </h4>
                        <p class="list__text">
                            И вам будет легче добиваться поставленных целей
                        </p>
                    </li>
                    <li class="section9-list__item">
                        <h4 class="list__subtitle">
                            Вам будет под стать титул мисс бикини
                        </h4>
                        <p class="list__text">
                            И вам будет легче добиваться поставленных целей
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>