<section class="block section2">
    <div class="container">
        <h2 class="title">
            Ваша грудь все еще маленькая. <span class="product--color">Это было мечтой, верно?</span>
        </h2>
        <ul class="section2-list">
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto1.png" alt="">
                <p class="section2-list__description"><span class="text-bold">Выбераете жесткий
                        бюстгальтер</span> потому что не&nbsp;совсем ваш размер</p>
            </li>
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto2.png" alt="">
                <p class="section2-list__description"><span class="text-bold">Не смейте носить одежду,</span>
                    которая показывает кожу</p>
            </li>
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto3.png" alt="">
                <p class="section2-list__description">Мужчины <span class="text-bold">не&nbsp;заботятся о&nbsp;тебе,</span> как&nbsp;они должны</p>
            </li>
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto4.png" alt="">
                <p class="section2-list__description">Была раздета как <span class="text-bold">подросток</span>
                </p>
            </li>
        </ul>
    </div>
</section>