.section2 {
  min-height: 936px;
  padding-top: 245px;
  background: url("../img/section2-bg.png") no-repeat;
  background-position: calc(50% - 813px) 100%;
  position: relative;
  overflow-x: hidden;

  @include r(1239) {
    min-height: auto;
    padding: 160px 0 100px;
    background: none;
  }

  @include r(1023) {
    min-height: auto;
    padding: 40px 0;
    background: none;
  }

  @include r(767) {
    padding: 30px 0;
  }

  &::before {
    @include r(1239) {
      content: "";
      position: absolute;
      left: calc(50% - 723px);
      height: 100%;
      width: 500px;
      bottom: 0;
      opacity: .5;
      background: url("../img/section2-bg.png") no-repeat 100% 0;
    }

    @include r(1023) {
      display: none;
    }
  }

  .container {
    @include r(1239) {
      padding-left: 290px;
    }

    @include r(1023) {
      padding: 0 10px;
    }
  }

  .title {
    margin-left: 581px;
    text-align: left;
    letter-spacing: -1.1px;

    @include r(1239) {
      margin-left: 0;
    }

    @include r(1023) {
      margin: 0 auto 40px;
      text-align: center;
    }

    @include r(639) {
      margin-bottom: 30px;
    }
  }

  .product--color {
    display: block;
  }
}

.section2-list {
  padding-top: 83px;
  padding-left: 638px;
  position: relative;

  @include r(1239) {
    text-align: center;
    padding-top: 40px;
    padding-left: 0;
  }

  @include r(1023) {
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    width: 280px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @include r(1239) {
      width: 330px;
      margin-left: 20px;
      flex-direction: row;
    }

    @include r(1023) {
      width: 360px;
      margin-bottom: 25px;
      margin-left: 0;
    }

    &:first-child,
    &:nth-child(2) {
      width: 400px;
      position: absolute;
      top: -226px;
      left: 105px;
      flex-direction: row;

      @include r(1239) {
        width: 330px;
        margin-bottom: 20px;
        flex-direction: row;
        // left: 155px;
        position: static;
      }

      @include r(1023) {
        width: 360px;
        position: static;
        flex-direction: row;
      }

      .section2-list__img {
        margin-left: 26px;
        flex-shrink: 0;
        order: 1;

        @include r(1239) {
          margin-left: 0;
          order: 0;
        }

        @include r(1023) {
          margin-left: 0;
          order: 0;
        }
      }

      .section2-list__description {
        margin-top: 0;
        text-align: right;

        @include r(1239) {
          margin-top: 15px;
          text-align: left;
        }

        @include r(1023) {
          margin-top: 15px;
          text-align: left;
        }
      }
    }

    &:last-child .section2-list__description {
      width: 150px;

      @include r(1239) {
        width: auto;
        margin-left: 10px;
      }
    }

    &:first-child {
      @include r(1239) {
        width: 330px;
        margin-left: 0;
      }

      @include r(1023) {
        width: 360px;
      }
    }
  }

  &__img {
    max-width: 100%;
    display: block;

    @include r(1239) {
      max-width: 120px;
    }
  }

  &__description {
    margin: 25px auto 0;
    font-size: 18px;
    text-align: center;
    line-height: 26px;

    @include r(1239) {
      margin-top: 0;
      margin-left: 10px;
      text-align: left;
    }

    @include r(1023) {}
  }
}

.section2-list__item:nth-child(2) {
  top: 23px;
  left: 213px;

  @include r(1239) {
    top: 85px;
    left: 193px;
  }
}

.section2-list__item:nth-child(3) {
  margin-bottom: 0;

  @include r(1239) {
    margin-left: 0;
  }

  @include r(767) {
    margin-bottom: 25px;
  }
}

.section2-list__item:nth-child(3) .section2-list__description {
  max-width: 220px;
}

.section2-list__item:last-child {
  width: 223px;
  margin-left: 20px;

  @include r(1239) {
    width: 330px;
  }

  @include r(1023) {
    width: 360px;
    margin-left: 0;
    margin-bottom: 0;
  }

  @include r(767) {
    margin-bottom: 0;
  }
}