<section class="block section2">
    <div class="container">
        <h2 class="title">
            Ваша грудь все еще маленькая. <span class="product--color">Вы же не об&nbsp;этом мечтали?</span>
        </h2>
        <ul class="section2-list">
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto1.png" alt="">
                <p class="section2-list__description"><span class="text-bold">Носите неудобные бюстгалтеры</span> не&nbsp;своего размера</p>
            </li>
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto2.png" alt="">
                <p class="section2-list__description"><span class="text-bold">Боитесь носить одежду</span> с&nbsp;открытым декольте</p>
            </li>
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto3.png" alt="">
                <p class="section2-list__description">Мужчины <span class="text-bold">не обращают на&nbsp;вас внимание <br></span></p>
            </li>
            <li class="section2-list__item">
                <img class="section2-list__img" src="img/foto4.png" alt="">
                <p class="section2-list__description">У вас грудь, как у&nbsp;<span class="text-bold">подростка</span>
                </p>
            </li>
        </ul>
    </div>
</section>