<section class="reviews block">
  <div class="container">
    <h2 class="title title-crown">
      Многие тайцы в хорошей форме с <br />
      <span class="product--color">Luray Bustier</span>
		</h2>
		<div class="reviews-slider-container">
    <div class="reviews-content">
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-1.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Раттана, 33 года,<br />
            г. Сураттхани
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            У меня есть знакомая, у которой грудь пошла волнами через 6 лет и
            импланты пришлось менять. Она меня отговорила от операции. Рада, что ее послушала и заказала крем Luray Bustier.
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-2.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Убон, 25 лет,<br />
            г. Бангкок
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            Первые дни эффекта от Luray Bustier никакого не было, но спустя
            примерно 4 недели, я начала задумываться о том, чтобы купить новый
            лифчик.
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-3.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Ваан, 32 года,<br />
            г. Паттайя
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            Больше всего мне нравится в Luray Bustier то, что он быстро
            впитывается. Мне, как маме с маленькими детьми, особо собой
            заниматься некогда. А тут намазала и буквально через минуту все
            впиталось.
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-4.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Куантяй, 44 года,<br />
            г. Пхукет
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            Крем понравился, приятный запах, впитывается отлично. Комфортные
            ощущения от использования, нет липкости. Посылка пришла быстро,
            упакована хорошо.
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-5.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Буссаба, 35 лет,<br />
            г. Чиангмай
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            Крем со своими обязанностями справился прекрасно) Как и было
            задумано: немного поднять и увеличить хотя бы на размерчик! И тадам!
            я получила положительный результат!
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-6.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Лек, 29 лет,<br />
            г. Нонтхабури
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            У этого крема приятная текстура и запах. Грудь, конечно, кардинально
            не выросла на несколько размеров, но эффект однозначно есть.
            Коробочка с Luray Bustier пришла в течение нескольких дней.
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-7.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Нок, 34 года,<br />
            г. Удонтхани
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            Попробовала Luray Bustier по совету подруги. Спустя месяц
            использования моя грудь стала выглядеть сексуальнее. Плюс мне
            нравится, что он подходит для моей увядающей зоны декольте.
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-8.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Нарак, 30 лет,<br />
            г. Чонбури
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            Вау, как после пластической операции! До Luray Bustier моя грудь
            была не только маленькая, но и дряблая (вот он побочный эффект
            похудения!). Теперь я счастлива, когда смотрю на результат.
          </p>
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-9.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <div class="reviews-info">
          <h3 class="reviews__name">
            Нари, 25 лет,<br />
            г. Кхонкэн
          </h3>
          <div class="reviews__rating">
            <img src="img/rating.png" alt="rating" />
          </div>
          <p class="reviews__text">
            Теперь я почти как Памела Андерсон))) Спасибо за формы моей мечты!
            Это как раз то, чего мне не хватило для полного счастья.
          </p>
        </div>
			</div>

		</div>
		<svg class="reviews__arrow-left" xmlns="http://www.w3.org/2000/svg" width="43" height="32" viewBox="0 0 43 32"><g><g><path d="M.43 17.03l13.845 14.502c.54.578 1.414.578 1.954 0 .54-.58.54-1.52 0-2.1L4.743 17.466H41.65c.763 0 1.382-.665 1.382-1.486 0-.818-.619-1.483-1.382-1.483H4.743L16.23 2.531c.54-.579.54-1.518 0-2.1a1.338 1.338 0 0 0-.977-.435c-.354 0-.708.147-.978.435L.43 14.93c-.54.58-.54 1.52 0 2.099z"/></g></g></svg>
		<svg class="reviews__arrow-right" xmlns="http://www.w3.org/2000/svg" width="44" height="32" viewBox="0 0 44 32"><g><g><path d="M43.554 17.03L29.336 31.532a1.412 1.412 0 0 1-2.037 0 1.518 1.518 0 0 1 0-2.1l11.76-11.966H1.44C.645 17.466 0 16.8 0 15.98c0-.818.645-1.483 1.44-1.483h37.618L27.3 2.531a1.517 1.517 0 0 1 0-2.1c.282-.288.65-.435 1.019-.435.368 0 .737.147 1.018.435l14.218 14.5c.562.58.562 1.52 0 2.099z"/></g></g></svg>
	</div>
  </div>
</section>
