<section class="reviews block">
  <div class="container">
    <h2 class="title title-crown">
      Многие тайцы в хорошей форме с <br />
      <span class="product--color">Luray Bustier</span>
    </h2>
    <div class="reviews-content">
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-1.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Валерия, 20 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-2.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Антонина, 26 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-3.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Маргарита, 30 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-4.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Валерия, 25 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
      </div>
      <div class="reviews-box">
        <div class="reviews__img"><img src="img/re-5.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Мария, 35 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
			</div>
			<div class="reviews-box">
        <div class="reviews__img"><img src="img/re-6.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Алегрия, 20 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
			</div>
			<div class="reviews-box">
        <div class="reviews__img"><img src="img/re-7.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Марго, 27 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
			</div>
			<div class="reviews-box">
        <div class="reviews__img"><img src="img/re-8.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Евдокимия, 30 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
			</div>
			<div class="reviews-box">
        <div class="reviews__img"><img src="img/re-9.jpg" alt="review" /></div>
        <div class="reviews__time">
          <div class="reviews__time-before">до</div>
          <div class="reviews__time-after">после</div>
        </div>
        <h3 class="reviews__name">Тома, 20 лет</h3>
        <div class="reviews__rating">
          <img src="img/rating.png" alt="rating" />
        </div>
      </div>
    </div>
  </div>
</section>
