.section7 {

  .section3-list {
    margin-bottom: 0;
  }

  .section3-list__item {
    width: auto;
    max-width: 320px;
  }

  .section3-list__title {
    font-size: 22px;
  }

  .section3-list__item:nth-child(2) .section3-list__img {
    margin-bottom: 25px;
  }

  .section3-list__img {
    margin-bottom: 25px;
  }

  .section3-list__item:nth-child(3) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 120px;
      height: 180px;
      top: 184px;
      left: 41px;
      background: url("../img/pack.png") no-repeat;
      background-size: contain;
    }
  }
}