<section class="block section7 section3">
    <div class="container">
        <h2 class="title title-crown">
            Как применять крем <span class="product--color">Luray Bustier</span>
        </h2>
        <ul class="section3-list">
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/how1.png" alt="Шаг 1">
                <h3 class="section3-list__title">
                    Шаг 1
                </h3>
                <p class="section3-list__text">
                    Необходимое количество крема наносите утром и&nbsp;вечером на&nbsp;грудь
                </p>
            </li>
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/how2.png" alt="Шаг 2">
                <h3 class="section3-list__title">
                    Шаг 2
                </h3>
                <p class="section3-list__text">
                    Масажными движениями втирайте до&nbsp;полного впитывания 
                </p>
            </li>
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/how3.png" alt="Шаг 3">
                <h3 class="section3-list__title">
                    Шаг 3
                </h3>
                <p class="section3-list__text">
                    Принимайте не&nbsp;менее 30&nbsp;дней и&nbsp;наслаждайтесь результатом 
                </p>
            </li>
        </ul>
    </div>
</section>