<section class="faq block accent-text">
  <div class="faq__container container">
    <div class="faq__content">
      <h2 class="faq__title" id="faq">Часто задаваемые вопросы</h2>
      <div class="faq__picture">
        <img src="img/faq-picture.png" alt="" class="faq__picture-img">
      </div>
      <div class="faq__column">
        <ul class="faq__list">
          <li class="faq__item">
            <button type="button" class="faq__item-toggler">
              <span class="faq__item-title">Что такое куркуминоиды?</span>
            </button>
            <p class="faq__item-description">Куркуминоиды — это активные вещества, которые содержатся в корне куркумы, и является причиной многих преимуществ для здоровья от куркумина. Существует несколько типов куркуминоидов, включая деметоксикуркумин, бисдиметоксикуркумин и куркумин. Стандартизированный 95% экстракт является наиболее сильными и наиболее клинически изученными куркуминоидами. В составе DUO&nbsp;C&P содержится наиболее активная форма куркуминоида — стандартизованный 95% экстракт.</p>
          </li>
          <li class="faq__item">
            <button type="button" class="faq__item-toggler">
              <span class="faq__item-title">Чем отличается активный куркумин от других форм куркуминоидов?</span>
            </button>
            <p class="faq__item-description">Только некоторые части куркумина биологически активны, они называются  куркуминоидами. Активный куркумин — наиболее чистый и мощный из существующих куркуминоидных молекул. Он в 20 раз мощнее обычного куркумина, обладает сильными антиоксидантными и противовоспалительными свойствами. Экстракт куркумы (стандартизированный 95% куркумина) DUO&nbsp;C&P значительно сокращает время, необходимое для того, чтобы питательные вещества куркумина начали действовать на организм.</p>
          </li>
          <li class="faq__item">
            <button type="button" class="faq__item-toggler">
              <span class="faq__item-title">Почему DUO&nbsp;C&P усваивается лучше, чем другие средства на основе куркумина?</span>
            </button>
            <p class="faq__item-description">DUO&nbsp;C&P специально разработан с более высокой биодоступностью по сравнению с другими добавками на основе куркумина. DUO&nbsp;C&P выпускается в виде капсул, в составе которых: куркумин и биоперин. Тем самым увеличивая биодоступность куркумина в 20 раз. Эта уникальная формула позволяет ингредиентам работать синергетически для максимальной абсорбции и преимуществ для организма.</p>
          </li>
          <li class="faq__item">
            <button type="button" class="faq__item-toggler">
              <span class="faq__item-title">Что такое биоперин?</span>
            </button>
            <p class="faq__item-description">Биоперин — экстракт черного перца. Он увеличивает биодоступность куркумина на 2000%. Кроме того, он также оказывает положительное влияние на здоровье: улучшает процесс пищеварения, защищает ЖКТ от болезнетворных бактерий, обладает обезболивающими свойствами, нейтрализует воспаления в организме.</p>
          </li>
          <li class="faq__item">
            <button type="button" class="faq__item-toggler">
              <span class="faq__item-title">В чем разница между куркумином и куркумой?</span>
            </button>
            <p class="faq__item-description">Эти два слова иногда путают между собой, но технически различие заключается в том, что куркума — это целое корневище, а куркумин —  это активное вещество, которое было извлечено из корня куркумы. Куркумин, при всей пользе для здоровья, составляет всего около 2-6% от корня куркумы.</p>
          </li>
          <li class="faq__item">
            <button type="button" class="faq__item-toggler">
              <span class="faq__item-title">Сколько капсул DUO&nbsp;C&P нужно принимать и&nbsp;как&nbsp;часто?</span>
            </button>
            <p class="faq__item-description">Рекомендуемая доза DUO&nbsp;C&P составляет 3 капсулы в день. Поскольку наша формула гораздо эффективнее и усваивается лучше, чем большинство добавок куркумина, нет нужды принимать несколько доз в день, чтобы добиться желаемого эффекта.</p>
          </li>
        </ul>
        <button type="button" class="faq__button button button--silver ever-popup-btn">Купить сейчас</button>
      </div>
    </div>
  </div>
</section>