.faq {
  position: relative;
  z-index: 1;
  padding: 60px 0;
  color: white;
  background-image: url("../img/bg.jpg");
  overflow: hidden;
}

.faq + .intro {
  margin-top: -11px;
}

.faq__content {
  position: relative;
  display: flex;
}

.faq__title {
  max-width: 240px;
  padding-top: 39px;
  padding-left: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: (25 / 22);
  background-image: url("../img/faq-title-icon.png");
  background-position: top 10px left 1px;
  background-repeat: no-repeat;
}

.faq__picture {
  position: absolute;
  top: 110px;
  left: -200px;
  pointer-events: none;
}

.faq__column {
  width: 100%;
  max-width: 646px;
  margin-left: 116px;
}

.faq__list {
  position: relative;
  width: 100%;
  margin-bottom: 63px;
  padding-top: 33px;
  padding-left: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 105px;
    border-left: 3px solid transparentize(white, 0.75);
  }
}

.faq__item {
  width: 100%;
  margin-bottom: 14px;
  padding-bottom: 13px;
  border-bottom: 1px solid transparentize(white, 0.75);
}

.faq__item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.faq__item-toggler {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 32px;
  font: inherit;
  color: inherit;
  font-size: 22px;
  line-height: (28 / 22);
  font-weight: 500;
  text-align: left;
  text-shadow: inherit;
  background: none;
  border: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 8px;
    width: 17px;
    height: 9px;
    background-image: url("../img/faq-item-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition-property: opacity, transform;
    transition-duration: $transition-duration;
  }

  &:hover::after {
    opacity: 0.5;
  }

  &.show::after {
    transform: rotate(180deg);
  }
}

.faq__item-title {
  display: block;
  max-width: 520px;
}

.faq__item-description {
  display: none;
  padding-top: 5px;
  font-size: 18px;
  line-height: (28 / 18);
}

.faq__button {
  max-width: 251px;
  margin-left: 46px;
}

@include r(1239) {
  .faq + .intro {
    margin-top: 0;
  }

  .faq__content {
    justify-content: space-between;
  }

  .faq__column {
    margin-left: 0;
  }
}

@include r(1023) {
  .faq__title {
    padding-top: 22px;
    font-size: 20px;
    background-position: top left;
    background-size: 50px auto;
  }

  .faq__picture {
    top: 80px;
    left: -130px;
    max-width: 400px;
  }
  
  .faq__column {
    max-width: 480px;
  }

  .faq__list {
    padding-top: 20px;
    padding-left: 20px;
  }

  .faq__item-toggler {
    font-size: 18px;
  }

  .faq__item-description {
    font-size: 16px;
  }
}

@include r(767) {
  .faq__content {
    display: block;
  }

  .faq__title {
    max-width: 100%;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    background: none;
  }

  .faq__picture {
    display: none;
  }

  .faq__column {
    max-width: 500px;
    margin: 0 auto;
  }

  .faq__list {
    margin-bottom: 30px;
    padding: 0;

    &::before {
      content: none;
    }
  }

  .faq__button {
    margin: 0 auto;
  }
}

@include r(639) {
  .faq__title {
    font-size: 29px;
  }
}

@include r(639) {
  .faq__title {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .faq__list {
    margin-bottom: 25px;
  }
}