<section class="block section4">
    <div class="container">
        <h2 class="title">
            <span class="product--color">Luray Bustier</span> работает именно на груди, не&nbsp;изменяя других пропорций тела
        </h2>
        <div class="header-box">
            <div class="header-form form">
                <h3 class="form__title">
                    Закажите сейчас <br /><span class="form__title--color">по Акции</span>
                </h3>
                <div class="price">
                    <div class="price-old">
                        <h5 class="price-old__title">Старая цена</h5>
                        <p class="price-old__count">
                            <span class="x_price_previous">1980</span><span class="x_currency price-current">руб</span>
                        </p>
                    </div>
                    <div class="price-new">
                        <h5 class="price-new__title">Ваша цена</h5>
                        <p class="price-new__count">
                            <span class="x_price_current">990</span><span class="x_currency price-current">руб</span>
                        </p>
                    </div>
                </div>
                <div class="form__line"></div>
                <h4 class="form-timer__title">
                    До конца<br />
                    акции:
                </h4>
                <div class="form-timer">
                    <div class="form-timer__when hours">08</div>
                    <div class="form-timer__sup">:</div>
                    <div class="form-timer__when minutes">15</div>
                    <div class="form-timer__sup">:</div>
                    <div class="form-timer__when seconds">23</div>
                </div>
                <button class="btn ever-popup-btn">
                    Заказать <span class="btn__text">по акции</span>
                </button>
                <div class="form-icon">
                    <img src="img/icon-form.png" alt="gmp" class="form-icon" />
                </div>
            </div>
        </div>
        <div class="section4__wrapp">
            <div class="section4-bg">
                <img src="img/sec4-girl.png" alt="Девушка">
            </div>
            <div class="section4__pack">
                <img src="img/pack.png" alt="Luray Bustier">
            </div>
        </div>
    </div>
</section>