<section class="block section13 section-bg">
    <div class="container">
        <ul class="icon-list">
            <li class="icon-list__item">
                <img src="img/icon-bmp-big.png" alt="GMP">
            </li>
            <li class="icon-list__item">
                <img src="img/icon-pack-big.png" alt="100% Natural">
            </li>
            <li class="icon-list__item">
                <img src="img/icon-secure-big.png" alt="100% Secure">
            </li>
        </ul>
    </div>
</section>