<section class="bioaccess block">
  <svg
    class="bioaccess__arrow"
    xmlns="http://www.w3.org/2000/svg"
    width="71"
    height="38"
    viewBox="0 0 71 38"
  >
    <g>
      <g>
        <path
          d="M70.136.623a2.49 2.49 0 0 0-3.517 0L35.693 31.61 4.706.623a2.49 2.49 0 0 0-3.517 0c-.97.97-.97 2.548 0 3.517l32.685 32.685a2.428 2.428 0 0 0 1.758.728 2.53 2.53 0 0 0 1.759-.728L70.075 4.14a2.436 2.436 0 0 0 .061-3.517z"
        />
      </g>
    </g>
  </svg>
  <div class="container">
    <h2 class="bioaccess__title">
      Биодоступность куркумина
      <span class="bioaccess__title--nowrap">становится выше</span>
      <span class="bioaccess__title--small"
        >благодаря уникальному составу DUO C&P для крепкого иммунитета
        <span class="nowrap">и организма</span></span
      >
    </h2>
    <p class="bioaccess__text">
      Куркумин лучше усваивается организмом в соединении с биоперином — чистой
      формой пиперина,<br />
      полученной из плодов черного перца. Именно это соединение компонентов и
      используется<br />
      в DUO C&P, что делает его самым биодоступным куркумином среди других
      средств.
    </p>
    <p class="bioaccess__text bioaccess__text--white">
      Когда куркумин полностью поглощается организмом, польза для здоровья
      даже<br />
      больше, чем вы ожидаете.
    </p>
  </div>
</section>
