<section class="model block">
  <div class="container">
    <h2 class="title">
      “Я похудела на <span class="product--color">5 килограмм</span>, но с
      весом<br />
      ушла и моя красивая упругая грудь”
    </h2>
    <article class="model-content">
      <h2 class="model-content__name">Мелисса Хатнер,</h2>
      <p class="model-content__subtitle">
        топ-модель, лицо ирландского бренда нижнего белья
      </p>
      <div class="model-content-box">
        <p class="model-content__text">
          Профессия всегда обязывала меня следить за своим телом. Когда<br />
          же я подписала контракт с производителем нижнего белья, мне пришлось
          полностью отказаться от фастфуда и сладостей. Хотя раньше я могла себя
          побаловать чем-то вредным.
        </p>
        <p class="model-content__text">
          Когда ты идешь по подиуму или снимаешься
          <b>в нижнем белье, все видят твой каждый лишний килограмм.</b> Одним
          словом, пришлось мне сесть <span class="nowrap">на диету</span>.
        </p>
        <p class="model-content__text">
          <strong
            ><b
              >Я похудела на 5 килограмм, но с весом ушла и моя красивая упругая
              грудь.</b
            ></strong
          >
          Тогда я подумала: “Вот и пришел конец моей карьере!”.
        </p>
        <p class="model-content__text">
          В панике обратилась за советом к подруге, которая уже давно в
          моделинге, но все еще в прекрасной форме. Она то мне и
          <b>посоветовала крем Luray Bustier</b>. Сказала, что
          <b>он поможет вернуть упругость, сделает грудь более объемной</b>. Его
          состав абсолютно безопасен: в нем нет гормонов.
          <span class="nowrap">Но больше</span> всего меня обрадовало то, что не
          нужно делать операцию.
        </p>
        <p class="model-content__text">
          <b
            >Через месяц использования Luray Bustier стал моим незаменимым
            помощником.</b
          >
          Я оценила, как он ухаживает за моей зоной декольте. <br />
          Да и после рождения ребенка, только благодаря ему, я все еще считаюсь
          востребованной топ-моделью и продолжаю успешно продавать нижнее белье.
        </p>
        <p class="model-content__text">
          Как потом оказалось, <b>многие модели пользуются этим кремом,</b>
          <span class="nowrap">но в моделинге</span> жесткая конкуренция и о
          работающих средствах обычно
          <span class="nowrap">не распространяются</span>.
        </p>
      </div>
    </article>
  </div>
</section>
