.stars-counter {
  display: block;
  width: 96px;
  height: 26px;
  background-image: url("../img/review-stars.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &--fourth {
    background-image: url("../img/review-stars-fourth.png");
  }
  &--fourth-half {
    background-image: url("../img/review-stars-fourth-half.png");
  }
  &--fives {
    background-image: url("../img/review-stars-fives.png");
  }
}