<section class="block section3">
    <div class="container">
        <h2 class="title">
            <span class="product--color">Luray Bustier</span> — это эффективное увеличение
            груди без:
        </h2>
        <ul class="section3-list">
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/without1.png" alt="операция">
                <h3 class="section3-list__title">
                    Операции
                </h3>
                <p class="section3-list__text">
                    дорогостоящая процедура с&nbsp;реабилитацией от&nbsp;4&nbsp;недель и&nbsp;возможными осложнениями
                </p>
            </li>
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/without2.png" alt="операция">
                <h3 class="section3-list__title">
                    Импланта
                </h3>
                <p class="section3-list__text">
                    который нужно менять в&nbsp;среднем каждые 5&nbsp;лет, если он не&nbsp;вытечет или разорвется раньше
                </p>
            </li>
            <li class="section3-list__item">
                <img class="section3-list__img" src="img/without3.png" alt="операция">
                <h3 class="section3-list__title">
                    Гормонов
                </h3>
                <p class="section3-list__text">
                    влекут за&nbsp;собой лишний вес, обильный рост волос, рак 
                </p>
            </li>
        </ul>
        <p class="section3__footer">
            Крем <span class="text-black">Luray Bustier</span> — это возможность стать сексуальнее без&nbsp;боли, врачей, швов и&nbsp;других нежелательных последствий
        </p>

    </div>
</section>