<h2 class="order__title nowrap"><b class="accent-orange">DUO C&P</b> (Curcumin&Piperine)</h2>
<div class="order__timer timer timer--modal">
  <!--=include ../timer/timer.html -->
</div>
<div class="order__price price price--modal">
  <!--=include ../price/price.html -->
</div>
<div class="order__row order__row--select x_country_select">
  <img src="img/icon-country.svg" alt="" class="order__field-icon order__field-icon--country">
  <select class="country-select order__select" name="country_code">
    <option>Apple</option>
    <option>Plum</option>
    <option>Orange</option>
  </select>
</div>
<div class="order__row order__row--input">
  <img src="img/icon-name.svg" alt="" class="order__field-icon order__field-icon--name">
  <input type="text" class="order__field" name="name" placeholder="Ваше имя">
  <span class="order__field-decoration"></span>
</div>
<div class="order__row order__row--input">
  <img src="img/icon-phone.svg" alt="" class="order__field-icon order__field-icon--phone">
  <input type="text" class="order__field" name="phone" placeholder="Ваш телефон">
  <span class="order__field-decoration"></span>
</div>
<button type="submit" class="order__button button">Заказать DUO C&P</button>