.order {
  padding-top: 40px;
}

.order__title {
  margin-bottom: 18px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.order__timer {
  max-width: 310px;
  margin-bottom: 33px;
}

.order__price {
  max-width: 308px;
  margin-bottom: 42px;
}

.order__row {
  position: relative;
  max-width: 305px;
  margin-bottom: 18px;

  &--select {
    display: none;
  }

  &:last-of-type {
    margin-bottom: 37px;
  }
}

.order__field-icon {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 20px;

  &--country {
    top: 16px;
    top: 2px;
    max-width: 34px;
  }

  &--name {
    top: 16px;
    left: 3px;
    max-width: 19px;
  }

  &--phone {
    top: 15px;
    left: 4px;
  }
}

.order__field,
.order__select {
  display: block;
  width: 100%;
  padding: 15px 49px;
  font: inherit;
  color: black;
  font-size: 19px;
  background-color: $transparent !important;
  border: none !important;
  border-bottom: 1px solid #e2e2e2 !important;
  border-radius: 0 !important;
}

.order__field {
  &::placeholder {
    color: $common-gray;
    font-size: 19px;
    transition: color $transition-duration;
  }

  &:focus::placeholder {
    color: $transparent;
  }

  &:focus + .order__field-decoration {
    width: 100%;
  }
}

.order__select {
  cursor: pointer;
}

.order__field-decoration {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 1px solid $common-orange;
  transition: width $transition-duration;
}


@include r(1239) {
  .order {
    padding-top: 0;
  }

  .order__title {
    font-size: 32px;
  }

  .order__timer {
    max-width: 270px;
    margin-bottom: 30px;
  }

  .order__price {
    margin-bottom: 30px;
  }

  .order__row:last-of-type {
    margin-bottom: 30px;
  }
}

@include r(1023) {
  .order__title {
    max-width: 100%;
    margin-bottom: 0;
    font-size: 30px;
    white-space: normal;
  }

  .order__timer {
    max-width: 300px;
  }
}

@include r(767) {
  .order__title {
    margin-bottom: 5px;
    font-size: 28px;
    text-align: center;
  }

  .order__timer {
    margin-bottom: 20px;
  }

  .order__price {
    margin-bottom: 20px;
  }
}