<section class="feedbacks block">
  <div class="feedbacks__container container">
    <h2 class="feedbacks__title title title-icon" id="feedbacks">Видимые результаты, которые уже&nbsp;испытали на&nbsp;себе тысячи&nbsp;людей</h2>
  </div>
  <div class="feedbacks__list">
    <div class="feedbacks__list-body">
      <div class="feedbacks__list-top">
        <div class="feedbacks__list-total feedbacks__list-total--orange">
          Отзывы (<span class="total-counter">0</span>)
        </div>
        <div class="feedbacks__list-total feedbacks__list-total--gray">
          <img src="img/review-stars.png" alt="">
          <span><span class="total-counter">0</span>&nbsp;отзывов</span>
        </div>
      </div>
      <div class="feedbacks__desktop">
        <div class="feedbacks__items">
          <!--=include ../review/review.html -->
        </div>
        <div class="feedbacks__nav"></div>
      </div>
      <div class="feedbacks__adaptive">
        <div class="feedbacks__items">
        </div>
        <div class="feedbacks__nav feedbacks__nav--adaptive"></div>
      </div>
    </div>
  </div>
</section>